<% @grp.each do |g| %>
    <div class="bgcolor-white h-100-px m-10">
        <div class="p-20 color-darkgray d-flex ai-center ">
            <div class="pr-40"> 
                <i class="<%= g.Icon %> fa-3x color-blue"></i>
            </div>
            <div class="d-flex-c">
                <div class="pb-10"><%= g.name %></div>
                <div class="pb-10"><%= g.created_at.strftime('%d %b %Y') %></div>
                <%= link_to 'Click here', teach_group_path(:group_id => g.id), class: 'color-blue' %>    
            </div>
            
            
            
        </div>
    </div>
<%end%>