<div class="bgcolor-white h-50-px">
    <div class="p-20 ">
        
            <div class="display-inline"><%= @ts.name %></div>
            <div class="float-r"><%= @ts.Amount %></div>
    </div>
</div>
<% @grp.each do |g| %>
    <div class="bgcolor-white h-100-px m-10">
        <div class="p-20 ">
            <div class="display-inline"> 
            
            </div>
            <div class="display-inline"><%= g.name %></div>
            <div class="display-inline"><%= g.created_at %></div>
            
        </div>
    </div>
<%end%>

