
<% @ts.each do |t| %>
    <div class="bgcolor-white h-100-px m-10">
        <div class="p-20 color-darkgray d-flex ai-center ">
            
            <div class="d-flex-c">
                <div class="pb-10"><%= t.name %></div>
                <div><%= t.created_at.strftime('%d %b %Y') %></div>
            </div>
            
            <div class="pl-40"> 
                <%= time_in_hrs(t.Amount) %>
            </div>
            
        </div>
    </div>
<%end%>

<div class="bgcolor-green h-50-px  txt-center pt-5 pb-5 m-10">
   <div class="m-10 border-w-1px border-white border-solid bgcolor-green pt-5 pb-5">
      <%= link_to 'Log Planning/Checking Hours', time_spent_plan_check_new_path, class:' caps  '%>       
   </div>
</div>