<div class="bgcolor-white h-50-px">
    <div class="p-20 color-darkgray">
          <%= show_timespent %>
            
    </div>
</div>
 
<%= render_grpview %> 

<div class="bgcolor-green h-50-px  txt-center pt-5 pb-5 m-10">
   <div class="m-10 border-w-1px border-white border-solid bgcolor-green pt-5 pb-5">
      <%= link_to 'Log Teaching Hours', new_time_spent_path, class:' caps  '%>       
   </div>
</div>

