<body class="bgcolor-blue">
<div class="bgcolor-blue">
    <div class="m-10 pt-10 pb-10">
            <p><%= @user.name %></p>
            <ul class="p-20">
                <li class="p-20"><%= link_to 'Hours Logged for Teaching', time_spent_show_path %></li>
                <li class="p-20"><%= link_to 'Hours Logged for planning/checking' %></li>
                <li class="p-20"><%= link_to 'All Grades' %></li>
            </ul>
    </div>
</div>
</body>