<%= render 'shared/groupview'  %>

<div class="bgcolor-green h-50-px  txt-center pt-5 pb-5 m-10">
   <div class="m-10 border-w-1px border-white border-solid bgcolor-green pt-5 pb-5">
      <%= link_to 'Add Grade', group_new_path, class:' caps  '%>       
   </div>
</div>