.bgcolor-gray {
  background-color: #f1f3f2;
}

.bgcolor-white {
  background-color: #ffffff;
}

.bgcolor-green {
  background-color: #5fb523;
}

.bgcolor-blue {
  background-color: #3778c2;
}

.color-blue {
  color: #3778c2;
}

.color-green {
  color: #5fb523;
}

.color-gray {
  color: #f1f3f2;
}

.color-darkgray {
  color: #434b54;
}
