.p-20{
 padding: 20px;
}

.p-15{
    padding: 15px;
   }

.pt-5{
    padding-top: 5px;
}

.pb-5{
    padding-bottom: 5px;
}

.pl-5{
    padding-left: 5px;
}

.pt-10{
    padding-top: 10px;
}

.pb-10{
    padding-bottom: 10px;
}

.pl-40{
padding-left: 40px;
}

.pr-40{
padding-right: 40px;
}

.pr-10{
padding-right: 10px;
}

.m-10{
    margin: 10px;
}

.m-20{
    margin: 20px;
}

.mb-10{
    margin-bottom: 10px;
}

.mt-10{
    margin-top: 20px;
}

.txt-center{
    text-align: center;
}

.d-inline{
    display: inline;
}

.d-flex{
    display: flex;
        
}

.d-flex-c{
    display: flex;
    flex-direction: column;
          justify-content: flex-start;
}



.ai-center{
    align-items: center;
}

.jus-con-sp-btw{
    justify-content:space-between ;
}


.float-r{
    float: right;
}

.float-l{
    float: right;
}





