.p-20{
 padding: 20px;
}

.p-15{
    padding: 15px;
   }

.pt-5{
    padding-top: 5px;
}

.pb-5{
    padding-bottom: 5px;
}

.pt-10{
    padding-top: 10px;
}

.pb-10{
    padding-bottom: 10px;
}

.pl-40{
padding-left: 40px;
}

.pr-40{
padding-right: 40px;
}

.m-10{
    margin: 10px;
}

.m-20{
    margin: 20px;
}

.txt-center{
    text-align: center;
}




